html {
    box-sizing: border-box; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(""); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: center;
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    flex: 1; 
    z-index: -1px;
}

#videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: center;
    z-index: -1;
    background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    transform: translateX(-50%) translateY(-50%);
}

img { 
    height: 20%;
    width: 25%;
}

.card, .card-tabs, .tabs { 
    border-radius: 20px !important;
    padding: 10px;
}

#ReadButton { 
    background: transparent;
    font-size: 30px !important;
    font-family: 'Abril Fatface', cursive !important;
    font-weight: 500px;
    border-radius: 20px; 
    width: 500px;
    color: ivory;
}

#ReadButton:hover { 
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
}

#results { 
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    line-height: 25px;
}

#videoWin {
padding-top: 10px 
}