html {
    box-sizing: border-box; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(""); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: center;
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    flex: 1; 
    z-index: -1px;
}

#videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: center;
    z-index: -1;
    background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    transform: translateX(-50%) translateY(-50%);
}

#videoWin {
    position: fixed;
    top: 22%;
    left: 50%;
    max-width: 25%;
    background-repeat: no-repeat; 
    background-attachment: center;
    z-index: -1;
    background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px !important;
}

img { 
    height: 20%;
    width: 25%;
}

.card, .card-tabs, .tabs { 
    border-radius: 20px !important;
    padding: 10px;
}
.card { 
position: fixed;
top: 370px; 
}

#ReadButton { 
    background: transparent;
    font-size: 30px !important;
    font-family: 'Abril Fatface', cursive !important;
    font-weight: 500px;
    border-radius: 20px; 
    min-width: 100%;
    color: ivory;
}

#ReadButton:hover { 
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
}

#results, p { 
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
    line-height: 30px;
    color: darkslategrey;
    font-weight: 900; 
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 400ms steps(44) infinite normal;

}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }